node_modules
dist
cache
example_data.ts
vis.min.js
out
cfg
debug_opcodes.txt
debug_cfg.json
opcodes.txt
cfg.json
ssa.json
functions.json
.cache
*.pyc
optimized.json
unoptimized.json
vyper.json
solc.json
